# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyc
.pytest_cache/

# =========================
# Virtual environments
# =========================
venv/
.venv/
env/

# =========================
# Playwright (Python)
# =========================
.playwright/
node_modules/

# =========================
# Test artifacts / reports
# =========================
reports/
test-results/

# =========================
# Logs
# =========================
*.log

# =========================
# IDE / OS files
# =========================
.idea/
.vscode/
.DS_Store
Thumbs.db
